/*body has inline style*/

.lll{
  background-color: #a0a;
  width: 100%;
}
@media screen and (max-width: 768px) {
    .lll {
        height: 18%;
    }
}
.pull-left h1 a{
  color: #FFF;
  font-size: .6em;
}
.navbar-text a{
  color: #FFF;
  font-size: 1.2em;
}



article{
  width: 100%;
  text-align: center;
}

.mainHeader {
  font: 400 60px/1.3 'Arizonia', Helvetica, sans-serif;
  color: purple;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.subHeader {
  font: 400 60px/1.3 'Arizonia', Helvetica, sans-serif;
  color: purple;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
