/*body has inline style*/
body{
  /*background-image: url("./images/afro_beat.jpg");
  background-repeat: no-repeat;
  background-size: 100%;*/
  background-color: #FFF;
}
/*********************** navbar starts here **********************************/
.lll{
  background-color: rgba(150, 64, 117, .7);
  width: 100%;
  /*z-index: 1;*/
}
.firstof2navbars{
  height: 50px;
}
.secondof2navbars{
    position: relative;
    top: 50px;
    border: 2px solid rgba(150, 64, 117, 1);
    height: 50px;
    background-color: #000;
}
.secondnavbuttons{
  text-align: right;
}
.container-fluid{
margin: 10px;
}
.pull-left h1{
  margin: 0 auto;
}
.pull-left h1 .salsa-heading{
  color: #FFF;
  font-size: .8em;
  text-decoration: none;
  font-family: Lucida;
  margin: 0 auto;
}
.pull-left h1 A:hover{
  font-size: .82em;
  color: #000;
}
.phone img{
  width: 20px;
  margin: 0 auto;
}
.phone{
  font-size: 20px;
  color: #FFF;
  font-size: .9em;
  margin: 0 auto;

}
/********* buttonLinks **********/
.buttonLinks img{
  width: 25px;
  margin: 0 auto;
}
.bachata-width{
  width: 50px;
}
/********* pageLinks ************/
.navbar-text{
  margin: 0px;
  margin-right: 8px;
  background-color: none;
}
.navbar-text .scroll{
  color: #FFF;
  font-size: .8em;
  font-weight: 700;
  font-family: 'Lucida Grande';
  text-decoration: none;
}
@media screen and (max-width: 870px) {
  .navbar-text .scroll{
  font-size: .7em;
  }
}
@media screen and (max-width: 770px) {
  .navbar-text .scroll{
  font-size: .6em;
  }
}
@media screen and (max-width: 670px) {
  .navbar-text .scroll{
  font-size: .5em;
  }
}
.navbar-text A:hover{
  color: #161400;
  font-size: .82em;
}
@media screen and (max-width: 870px) {
  .navbar-text A:hover{
  font-size: .7em;
  }
}
.buttons1{
  margin: 0 auto;
}
.buttons2{
  margin: 0 auto;
}
/************************* navbar ends here *********************************/
.lots{
  text-align: center;
}
.home {
  text-align: center;
  /*margin: 0 auto;*/
}


.mainAndSubHeader{
  margin: 0 auto;
  text-align: center;
  color: rgba(150, 64, 117, .7);
  width: 75%;
}
.mainHeader {
  font: 400 30px/1 'Lucida Grande', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.subHeader {
  font: 400 30px/1 'Arizonia', Helvetica, sans-serif;
  text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.first-image{
  border-style: solid;
  border-color: black;
}
.pageDetails{
  margin: 0 auto;
  text-align: left;
  width: 660px;
  background-color: #ddd;
}
.formDiv{
  text-align: center;
}
.inputform{
  width: 400px;
}
.setHeight{
  height: 100px;
}
.firstHeader{
  height: 140px;
}
.paypalForm{
  margin: 0 auto;
  text-align: center;
}
